
	<div class="row game-card">
		<div class="col s12 font-card">
			<div class="card orange lighten-3 card-content padding-2">
					<header class="game-name column margin-2">
						<span class="card-title">Gamecode: {{@data.code}}</span>
					</header>
					<div class="game-id column">
						<hr>
						<span class="card-title">Players: {{@data.total_users}}</span>
						{{#if  @data.winner_name}}
							<p>Winner: {{ @data.winner_name }}</p>
						{{else}}
							<p>Winner: Pending </p>
						{{/if}}
					</div>
					<div class="center">
						<button class="btn waves-effect waves-light orange font-card padding-2" type="submit" name="action">Join game!
    					<i class="material-icons right">send</i>
  					</button>

					</div>
				
			</div>
		</div>
	</div>
