<div class="game-feed">
	<div class="user column">
	</div>
	<div class="games-box center">
		{{#each @games as |game|}}

		<GameCard 
			@data={{game}}
		/>

	{{else}}
		<GameCard />
		{{!-- TODO: empty state --}}
		<p>No hay tweets</p>

	{{/each}}
	</div>
</div>