<div class="game-card">

	<header class="game-name">
		<h3>Game name</h3>
	</header>

	<div class="game-id">
		<p>#091298</p>
		<hr>
		<h1>Players: 1</h1>
	</div>

	<button class="join-button">Join game!</button>

</div>