<div class="game-feed">
	<div class="user column">
		<div class="dropdown">
  			<button class="dropbtn">Select a user</button>
  			<div class="dropdown-content">
			    <a>Ariana</a>
			    <a>Ricardo</a>
			    <a>Yvone</a>
  			</div>
		</div>
	</div>
	<div class="games-box">
		<GameCard/>
	</div>
</div>