<div>
	<div class="main-header column">
		<div class="name-instructions column">
			<h1>Rock, paper, scissors, lizard, spock</h1>
			<div class="help">
				<img class="icon" src="https://image.flaticon.com/icons/svg/0/827.svg">
				<h2>See instructions here</h2>
			</div>
		</div>
		<div>
			
			<div class="dropdown">
	  			<div class="dropdown-content">
				    
				    {{#each @users as |user|}}
				    	<NewGame @data={{user}}/>
				    	{{log user.id user.username}}
				    {{else}}
				    	<li>no hay users</li>
				    {{/each}}
	  			</div>
  				<button class="new-button" type="button">Create new game</button>
			</div>
		</div>
	</div>
</div>