<div>
	<div class="main-header column">
		<div class="name-instructions column">
			<h1>Rock, paper, scissors, lizard, spock</h1>
			<div class="help">
				<img class="icon" src="https://image.flaticon.com/icons/svg/0/827.svg">

				
				<a target="blank" href="https://res.cloudinary.com/teepublic/image/private/s--FmJZnCzA--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1508274791/production/designs/1979789_1.jpg"><h2>See instructions here</h2></a>
				<p>Scissors cuts paper. Paper covers rock. Rock crushes lizard. Lizard poisons Spock. Spock smashes scissors. Scissors decapitates lizard. Lizard eats paper. Paper disproves Spock. Spock vaporizes rock. Rock crushes scissors.</p>
			</div>
		</div>
		
	</div>
</div>