<div class="main-header column">
	<div class="name-instructions column">
		<h1>Rock, paper, scissors, lizard, spock</h1>
		<div class="help row">
			<img class="icon" src="https://image.flaticon.com/icons/svg/0/827.svg">
			<h2>See instructions here</h2>
		</div>
	</div>
	<div>
		<button class="new-button" type="button">Create new game</button>
	</div>
</div>
<div0